.layout {
  display: flex;
  justify-content: space-between;
  padding: 5rem 4rem;
}

.temp {
  width: 100rem;
}

.video {
  width: 100rem;
  height: 56.25rem;
}

.infoContainer {
  display: flex;
  justify-content: space-between;
  width: 100rem;
}

.videoInfoContainer {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.titleSpan {
  font-size: 24px;
}

.descriptionSpan {
  font-size: 12px;
}
