.layout {
  padding: 0 4rem;
}

.videoSection {
  display: flex;
  flex-direction: column;
}

.titleSpan {
  font-size: 24px;
}

.cardContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 1rem;
  justify-content: center;
  padding-top: 5rem;
}
